*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: rgb(102, 91, 158);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.holaMundo{
    background-color: blueviolet;
    text-align: center;
    max-width: 650px;
    margin: 15px auto;
}
.flex-index{
    display: flex;
    flex: wrap;
}
@media (max-width: 550px){
    .holaMundo{
        background-color: burlywood;
    }
}
.header{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to left, rgb(69, 69, 104),rgb(23, 68, 104));
}
.header ul{
    list-style: none;
    
}
.header li{
    display: inline-blockgit;
}