*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: rgb(102, 91, 158);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.holaMundo{
    background-image: linear-gradient(to left, rgb(26, 60, 93) 70% ,rgb(244, 246, 248));
    text-align: center;
    max-width: 650px;
    margin: 15px auto;
}
.flex-index
{ margin:0px 0px 15px 0px;
    display: flex;
    flex-direction: column;
}
h1{
     margin: 10px;
    color: aliceblue;
    background-image: radial-gradient(#04353b 40%, #00d4ff);
}
h3{
    font-size: 25px;
}
section{ 
    font-size: 15px;
    margin:20px;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to left, rgb(180, 249, 4),rgb(23, 68, 104));
}
.header ul{
    width: 237px;
    display: flex;
    list-style: none;
    align-items: flex-end;
    justify-content: space-between;
    
}
.header li{
    display: inline-blockgit;
}
.header img{
   
    transform: skew(9deg);
    width: 70px;
    height: 70px;
}
.translate{
    z-index: 1;
    background-color: greenyellow;
    height: 60px;
    font-size: 30px;
    color: #111010;
    border: 3px solid black;
    display: inline-block;
    width: 186px;
    transform:rotate(45deg)
}
.translate:hover{
    background-color: brown;
    transition: 5s;
    transform: translateX(450px) rotate(45deg);
}
div img{
    filter: grayscale(1);
    transition: .3;
}


div img:hover{
    
    filter: grayscale(0);
}
input{
    margin: 20px;
    padding: 10px;
    transition: .3s;
    border: none;

}
input:focus{
    background-color: crimson;
border: none;
}